<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PayDemoTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7FF496C1FAACB2C003E16C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FF49851FAACB2C003E16C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FF49901FAACB2C003E16C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
